*.o
*.d
*~
data/data_raw/*
.metadata
moc_*
.cdtproject
.*project
.settings
gmon.out
controllers/mypuck/mypuck_nogui
controllers/mypuck/mypuck
controllers/mypuck_supervisor/mypuck_supervisor
controllers/mypuck/gui/boardwindow.hh
